.order-page-container{
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.orders-container{
  margin: 65px auto 0;
  max-width: 900px;
  background-color: #fff;
}

.your-orders-text{
  padding-top: 30px;
}

.order-placed,
.order-total,
.oredr-id-text{
  font-size: 18px;
  font-weight: 600;
}

.order-placed-date{
  font-size: 16px;
  font-weight: 500;
}

.order-total-amount,
.order-total{
  margin-left: 22px;
}



.order-total-amount{
  font-size: 16px;
  font-weight: 600;
  color: rgb(177, 39, 4);
}

.order{
  margin-top: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.order-header{
  display: flex;
  justify-content:space-between;
  background: rgb(240,240,240);
  align-items: center;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.left-side{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.total-amount{
  margin-left: 30px;
}