.tracking-page-container{
  background-color: #fff;
  height: 120vh;
  width: 100%;
}

.tracking-content{
  margin: 80px auto 30px;
  max-width: 300px;
}

.view-orders{
  margin-top: 20px;
  border: none;
  font-size: 14px;
  background-color: #fff;
  color: rgb(35, 157, 239);
  text-decoration: underline;
  text-decoration-color: orange;
  cursor: pointer;
}

.delivery-date{
  margin-top: 15px;
}

h2{
  font-size: 16px;
}

.tracking-arriving-today-status{
  color: green;
}

.tracking-product-name{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}
.tracking-product-quantity{
  margin-top: 5px;
  font-weight: 14px;
  font-weight: 500;
}

.tracking-product-img{
  height: 120px;
  width: 120px;
  margin-top: 10px;
}

.tracking-product-img img{
  height: 100%;
  width: 100%;
}

.tracking-status-container{
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-areas: 'tracking-status tracking-status-names';
  margin-top: 20px;
  height: 300px;
  justify-content: center;
}

.tracking-status-names{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  grid-area: tracking-status-names;
}

.tracking-status-name{
  display: flex;
  align-items: center;
}

.tracking-status-name svg{
  height: 16px !important;
  width: 16px !important;
}

.tracking-status-name span{
  color: green;
}

.tracking-status{
  margin-left: 35px;
  height: 100%;
  width: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-area: tracking-status;
}

.progress-bar{
  height: var(--percent);
  width: 100%;
  border: 1px solid green;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: green;
}

@media (min-width:300px) {
  .tracking-content{
    max-width: 280px;
  }
}

@media (min-width:380px) {
  .tracking-content{
    max-width: 350px;
  }
 
  .tracking-status{
    width: 14px;
    margin-left: 30px;
  }
}

@media (min-width:420px) {
  .tracking-content{
    max-width: 380px;
  }

  h2{
    font-size: 18px;
  }
  
  .tracking-status-name svg{
    height: 18px !important;
    width: 18px !important;
  }
}

@media (min-width:480px) {
  .tracking-content{
    height: 50vh;
  }
  .tracking-content{
    max-width: 440px;
  }

  .tracking-product-name{
    font-size: 16px;
  }
  
  .tracking-status-container{
    display: flex;
    flex-direction: column;
    grid-template-areas: 
    'tracking-status-names tracking-status-names'
    'tracking-status tracking-status';
    margin-top: 10px;
    height: 100px;
    width: 100%;
  }

.tracking-status-names{
  flex-direction: row;
  align-items: center;
}

.tracking-status{
  height: 12px;
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
}

.progress-bar{
  height: 100%;
  width: var(--percent);
}
  
}

@media (min-width:520px) {
  .tracking-content{
    max-width: 480px;
  }
}

@media (min-width:600px) {
  h2{
    font-size: 18px;
  }
  
  .tracking-content{
    max-width: 560px;
  }
  
  .tracking-status-name svg{
    height: 20px;
    width: 20px;
  }
  .tracking-status{
    height: 15px;
  }
}

@media (min-width:680px) {
  .tracking-content{
    max-width: 640px;
  }
}


@media (min-width:740px) {
  .view-orders{
    font-size: 16px;
  }
  h2{
    font-size: 20px;
  }
  .tracking-content{
    max-width: 700px;
  }
  .tracking-status-name{
    font-size: 18px;
  }
}

@media (min-width:768px) {
  .tracking-page-container{
    height: 100vh;
  }

  .tracking-content{
    margin: 65px auto 30px;
    max-width: 720px;
  }

  .view-orders{
    margin-top: 40px;
  }

  .tracking-product-img{
    height: 150px;
    width: 150px;
  }

  .tracking-product-quantity{
    font-weight: 16px;
  }

  .tracking-status-container{
    margin-top: 20px;
  }

  .tracking-status-names{
    font-size: 20px;
  }


.tracking-status{
  height: 20px;
}

}

@media (min-width:1024px) {
  .tracking-content{
    max-width: 900px;
  }
}