.range-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; 
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 30px;
  margin-left: 60px;
  background-color: #fff;
  z-index: 200;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 5px;
}

.range-container::-webkit-scrollbar{
  display: none;
 }

.range {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  white-space: nowrap; 
  flex-shrink: 0;
  cursor: pointer;
  border: none;
}

.range:hover{
  background-color: #300;
  color: #fff;
}

.active{
  background-color: #300;
  color: #fff;
}


@media (min-width:768px){
  .range-container { 
    top: 65px;
    margin-left: 100px;
    height: 40px;
  }

  .range {
    font-size: 14px;
  }

}